button,
.button {
  margin-bottom: 0 !important;
  margin-right: 0.5rem;
}

h1 {
  color: darkslategray;
  text-align: center;
}

h2 {
  color: royalblue;
  text-align: center;
}

form {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}
